
body {
  padding-top: 0px;
}

.boobs_1{
	margin-top: -638%;
	margin-left: 2px;
}
.boobs_2{

}
.boobs_3{

}

.waist_1{
	margin-top: -569%;

}
.waist_2{
	
}
.waist_3{
	
}



.bat_1{
	margin-top: -450%;
}
.bat_2{
	margin-top: -1730%;
	margin-left: 3px;
}
.bat_3{
	margin-top: -1730%;
	margin-left: 3px;
}